# Python
__pycache__/
*.py[cod]

# Python cache
__pycache__/

# Virtual environment
venv/
.venv/

# Code Runner File
tempCodeRunnerFile.py

# Generated temporary PDFs
/generated

# Testing files
/processors/testing-pdfs