{% extends "base.html" %}

{% block style %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{{url_for('static', filename='styles/generator.css')}}"
        >
{% endblock style %}

{% block main %}

<form method="POST" enctype="multipart/form-data">
    
    <!-- Student / Termwork Information -->
    <div class="card shadow-sm mb-4">
        
        <div class="card-header">
            <h4 class="mb-0 color-primary">Termwork Information</h4>
        </div>
        
        <div class="card-body">
            
            <div class="row g-3">
                
                <!-- Subject -->
                <div class="col-12 col-md-6">
                    <label for="subject" class="form-label">
                        Subject
                    </label>
                    
                    <input
                    type="text"
                    class="form-control"
                    value="{{ subject }}"
                    id="subject"
                    name="subject"
                    placeholder="Enter subject name"
                    >
                    <!-- required -->
                    </div>
                    
                    
                    <!-- PEN / Enrollment Number -->
                    <div class="col-12 col-md-6">
                        <label for="pen" class="form-label">
                            PEN / Enrollment No.
                    </label>
                    
                    <input
                    type="text"
                    class="form-control"
                    id="pen"
                    name="pen"
                    value="{{ pen }}"
                    placeholder="Enter PEN / enrollment number"
                    >
                    <!-- required -->
                    </div>
                    
                    
                    <!-- Student Name -->
                    <div class="col-12 col-md-6">
                        <label for="student_name" class="form-label">
                            Name of Student
                        </label>
                        
                        <input
                        type="text"
                        class="form-control"
                        id="student_name"
                        name="student_name"
                        value="{{ student_name }}"
                        placeholder="Enter student name"
                        >
                        <!-- required -->
                    </div>
                    
                    
                    <!-- Class -->
                    <div class="col-12 col-md-6">
                        <label for="class" class="form-label">
                            Class
                        </label>
                        
                        <input
                        type="text"
                        class="form-control"
                        id="class"
                        name="class"
                        value="{{ class_name }}"
                        placeholder="e.g. CSE 24 C"
                        >
                        <!-- required -->
                </div>
                
                
                <!-- Term -->
                <div class="col-12 col-md-4">
                    <label for="term" class="form-label">
                        Term
                    </label>
                    
                    <input
                        type="text"
                        class="form-control"
                        id="term"
                        name="term"
                        value="{{ term }}"
                        placeholder="e.g. 261"
                        >
                        <!-- required -->
                </div>
                
                
                <!-- Semester -->
                <div class="col-12 col-md-4">
                
                    <label for="semester" class="form-label">
                        Semester
                    </label>
                
                    <select
                        class="form-select"
                        id="semester"
                        name="semester"
                    >
                
                        <option
                            value=""
                            disabled
                            {% if not semester %}selected{% endif %}
                        >
                            Select semester
                        </option>
                    
                        {% for i in range(1, 9) %}
                        <option
                            value="{{ i }}"
                            {% if semester == i|string %}selected{% endif %}
                        >
                            {{ i }}
                        </option>
                        {% endfor %}
                    
                    </select>
                
                </div>
                
                
                <!-- Batch -->
                <div class="col-12 col-md-4">
                    <label for="batch" class="form-label">
                        Batch
                    </label>

                    <input
                    type="text"
                    class="form-control"
                    id="batch"
                    name="batch"
                    value="{{ batch }}"
                    placeholder="e.g. 245"
                    >
                    <!-- required -->
                </div>
                
                
                <!-- Faculty Name -->
                <div class="col-12">
                    <label for="faculty_name" class="form-label">
                        Faculty Name
                    </label>
                    
                    <input
                    type="text"
                    class="form-control"
                    id="faculty_name"
                    name="faculty_name"
                    value="{{ faculty_name }}"
                    placeholder="Enter faculty name"
                    >
                    <!-- required -->
                </div>
                
            </div>
            
        </div>
    </div>
    
    
    <!-- Practical List -->
    <div class="card shadow-sm mb-4">

        <div class="card-header">
            <h4 class="mb-0 color-primary">Practical List</h4>
        </div>

        <div>

            <div class="input-buttons">

                <div class="file-input">
                    <button
                    type="button"
                    id="file_input_btn"
                    class="{% if not manual_entry %}active{% endif %} file-input-btn"
                    >
                    File Input
                    </button>
                </div>
            
                <div class="manual-input">
                    <button
                        type="button"
                        id="manual_input_btn"
                        class="{% if manual_entry %}active{% endif %} manual-input-btn"
                    >
                        Manual Input
                    </button>
                </div>
            
                <input
                type="hidden"
                id="manual_entry"
                name="manual_entry"
                value="{% if manual_entry %}manual{% else %}file{% endif %}"
                >
            
            </div>


            <!-- File Input -->
            <div class="card-body"> <!-- file and  manual input fields -->
            <div
                id="file_input_section"
                class="{% if manual_entry %}d-none{% endif %} "
                style="border-top: none;"
            >
                <label
                    for="practical_file"
                    class="form-label"
                >
                    Upload Practical Titles
                    <span class="form-text" style="padding-left: 10px;">
                        Accepted files: .pdf
                    </span>
                </label>

                <input
                    type="file"
                    class="form-control"
                    id="practical_file"
                    name="practical_file"
                    accept=".pdf"
                >

                <div class="form-text">
                    Upload a scanned pdf file of the Index or Practical list containing the practical titles.
                </div>

            </div>


            <!-- Manual Input -->

            <div
                id="manual_input_section"
                class="{% if not manual_entry %}d-none{% endif %}"
                style="border-top: none;"
            >

                <h5 class="mb-3">
                    Practical Titles
                </h5>

                {% for i in range(1, 11) %}

                <div class="mb-3">

                    <label
                        for="practical_{{ i }}"
                        class="form-label"
                    >
                        Practical {{ i }}
                    </label>

                    <input
                        type="text"
                        class="form-control"
                        id="practical_{{ i }}"
                        name="practical_{{ i }}"
                        value="{{ practical_dict.get(i|string, '') }}"
                        placeholder="Enter practical {{ i }} title"
                    >

                </div>

                {% endfor %}


                <div class="form-check mt-3">

                    <input
                        class="form-check-input"
                        type="checkbox"
                        id="add_more"
                        name="add_more"
                        value="true"
                        {% if add_more %}checked{% endif %}
                    >

                    <label
                        class="form-check-label"
                        for="add_more"
                        style="margin-bottom: 1rem;"
                    >
                        Add more practicals
                    </label>

                </div>


                <div
                    id="additional_practicals"
                    class="{% if not add_more %}d-none{% endif %}"
                >

                    {% for i in range(11, 16) %}

                    <div class="mb-3">

                        <label
                            for="practical_{{ i }}"
                            class="form-label"
                        >
                            Practical {{ i }}
                        </label>

                        <input
                            type="text"
                            class="form-control"
                            id="practical_{{ i }}"
                            name="practical_{{ i }}"
                            value="{{ practical_dict.get(i|string, '') }}"
                            placeholder="Enter practical {{ i }} title"
                        >

                    </div>

                    {% endfor %}

                </div>

            </div>

        </div>
        
    </div>

    </div>
    
    
    <!-- Submit -->
    <div class="d-flex justify-content-center">
        
        <button
        type="submit"
        class="generate-btn"
        >
        Generate Termworks
    </button>
    
</div>

</form>

{% endblock main %}

{% block script %}
    <script src="{{ url_for('static', filename='scripts/generator.js') }}"></script>
{% endblock script %}