{% extends "base.html" %}

{% block title %}Termwork Generator{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index.css')}}">
{% endblock style %}

{% block navactions %}
    <a class="nav-links" href="{{url_for('generate_termworks')}}">Generate Now</a>
{% endblock navactions %}

{% block main %}

<div class="hero-section center">
    <div class="hero-quote">
        <span class="dosis gradient-text">Generate Termworks</span>
        <br/>
        <span class="dosis gradient-text">Effortlessly</span>
    </div>
    <span class="color-primary montserrat bold">Only for RNGPIT students</span>
    <div>
        <a
            href="{{url_for('generate_termworks')}}"
            class="action-btn"
            >
            Generate Now →
        </a>
    </div>
</div>

<div class="how-it-works center">

    <h2>How it works?</h2>

    <div class="steps">

        <div class="step">
            <span class="step-no">01</span>
            <h3>Fill in your details</h3>
            <p>
                Enter your name, PEN, class, subject and other basic details.
            </p>
        </div>

        <div class="arrow">→</div>

        <div class="step">
            <span class="step-no">02</span>
            <h3>Add your practicals</h3>
            <p>
                Enter the titles of only the practicals you want to generate.
            </p>
        </div>

        <div class="arrow">→</div>

        <div class="step">
            <span class="step-no">03</span>
            <h3>Get your termwork</h3>
            <p>
                Generate your termwork and download the finished PDF.
            </p>
        </div>

    </div>

    <div class="center">
        <a
            href="{{url_for('generate_termworks')}}"
            class="action-btn"
            >
            Try Now
        </a>
    </div>

</div>

<div class="credits">

</div>

{% endblock main %}